.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.Header {
  width: 50%;
  text-align: center;
}

.large {
  font-size: 2em;
  text-decoration: underline;
}

.mute {
  font-size: 1em;
  color: darkgray;
}

.ConvertSection {
  display: flex;
  flex-direction: row;
}

.userInput {
  text-align: center;
}